.colcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	width: 1fr;
	max-width: 400px;
	margin-left: 5px;
	margin-right: 5px;
	/* border: 1px solid black; */
	/* height: 260px; */
}

.colbut {
	width: 100%;
	max-width: 1000px;
	height: 50px;
	/* border: 1px solid black; */
}
