/* Container div for the input field */
.inputOptional {
	width: 100%;
	max-width: 100px;
	box-sizing: border-box;
	color: grey;
}

.inputMain {
	width: 100%;
	max-width: 100px;
	box-sizing: border-box;
	color: black;
}

/* Label styling for better readability */
.labelOptional {
	color: grey;
	display: block;
	margin-bottom: 5px;
	/* font-weight: bold; */
}

.labelMain {
	color: black;
	display: block;
	margin-bottom: 5px;
	/* font-weight: bold; */
}
